node_modules
geckodriver.log
logs/session/1624109413349.log
logs/session/1624109809062.log
logs/session/1624173434064.log
logs/session/1624173522329.log
session.data.json
logs/session/1624263081017.log

# managed by open-wa
**.data.json
**.node-persist**
# end managed by open-wa
contacts.csv
